<h1 mat-dialog-title>
  Bulk Set Topic {{ data.selectingMode ? 'selected' : 'filtered' }} Data
</h1>
<div mat-dialog-content>
  <p>You can set data for all currently {{ data.selectingMode ? 'selected' : 'filtered' }} topics.</p>

  <div class="info-select">
    <mat-form-field class="dark-theme">
      <mat-label>Status</mat-label>
      <mat-select [(value)]="selectedStatus">
        @for (status of (issueStatuses$ | async)?.values(); track status) {
          @if (!additionalMode || status) {
            <mat-option [value]="status">{{ status || "No Status" }}</mat-option>
          }
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="dark-theme">
      <mat-label>Type</mat-label>
      <mat-select [(value)]="selectedType" multiple>
        @for (type of (issueTypes$ | async)?.values(); track type) {
          @if (!additionalMode || type) {
            <mat-option [value]="type" (click)="changeType(type)">{{ type || "No Type" }}</mat-option>
          }
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="dark-theme">
      <mat-label>Responsible</mat-label>
      <mat-select [(value)]="selectedUser" (opened)="refreshUsers()" multiple>
        @for (user of (users$ | async)?.values(); track user.id) {
          @if (!additionalMode || user.identifier) {
            <mat-option [value]="user" (click)="changeUser(user)">{{ user.identifier || "No Responsible" }}</mat-option>
          }
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDueDate" />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <p>
    <mat-checkbox [(ngModel)]="additionalMode" matTooltip="items will add to other" (ngModelChange)="clearSelecting()">Additional mode</mat-checkbox>
  </p>
</div>
<div mat-dialog-actions>
  <button
    mat-flat-button
    (click)="save()"
    color="primary"
    [disabled]="
      !selectedDueDate && !selectedStatus && !selectedType.length && !selectedUser.length
    "
  >
    Save
  </button>
  <button mat-flat-button color="warn" (click)="close()">Cancel</button>
</div>
