<h2 mat-dialog-title>Select Clash Test</h2>
<mat-dialog-content>
  <p>
    You can select which clash to export. Large tests may take some time to
    generate.
  </p>

  <mat-form-field class="dark-theme">
    <mat-label>Status</mat-label>
    <mat-select [(value)]="selectedClashId">
      @for (clash of clashes; track clash) {
      <mat-option [value]="clash.id">{{ clash.displayName }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="save()" [disabled]="!selectedClashId">
    Save
  </button>
  <button mat-raised-button (click)="close()" color="warn">Cancel</button>
</mat-dialog-actions>
