<div class="wrapper">
  <mat-form-field class="top-field">
    <mat-label>Selected Topics</mat-label>
    <input
      matInput
      [value]="selectedListTopic.length + ' topics selected'"
      readonly
    />
  </mat-form-field>

  <div class="info-select">
    <div style="width: 124px"></div>

    <mat-form-field class="dark-theme">
      <mat-label>Status</mat-label>
      <mat-select [(value)]="selectedStatus" (valueChange)="save()">
        @for (status of (issueStatuses$ | async)?.values(); track status) { @if
        (status) {
        <mat-option [value]="status">{{ status || "No Status" }}</mat-option>
        } }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="dark-theme">
      <mat-label>Type</mat-label>
      <mat-select [(value)]="selectedType" multiple (valueChange)="save()">
        @for (type of (issueTypes$ | async)?.values(); track type) { @if (type)
        {
        <mat-option [value]="type" (click)="changeType(type)">{{
          type || "No Type"
        }}</mat-option>
        } }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="dark-theme">
      <mat-label>Responsible</mat-label>
      <mat-select
        [(value)]="selectedUser"
        (opened)="refreshUsers()"
        multiple
        (valueChange)="save()"
      >
        @for (user of (users$ | async)?.values(); track user.id) { @if
        (user.identifier) {
        <mat-option [value]="user" (click)="changeUser(user)">{{
          user.identifier || "No Responsible"
        }}</mat-option>
        } }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDueDate" />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
