<div class="menu-band">
  <div class="menu-buttons">
    <button mat-raised-button (click)="newBcfFile()">
      <mat-icon>edit_document</mat-icon>
      New BCF
    </button>
    <button mat-raised-button (click)="saveBcfAs()">
      <mat-icon>save</mat-icon>
      Save as...
    </button>
    <button mat-raised-button (click)="openBcf()">
      <mat-icon>folder_open</mat-icon>
      Open BCF
    </button>
    <button mat-raised-button (click)="openSettings()">
      <mat-icon>settings</mat-icon>
      Settings
    </button>
    <button mat-raised-button (click)="openDocumentation()">
      <mat-icon>support</mat-icon>
      Help
    </button>
  </div>
  <div class="project-name">
    <span>{{ (selectedProject$ | async)?.name | uppercase }}</span>
  </div>
  <div>
    <span class="version-label">
      <strong>IPA.</strong>BCFier v{{ version }}
    </span>
  </div>
</div>
