.menu-buttons {
  display: flex;
  gap: 12px;
}

.menu-band {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.version-label {
  font-size: small;
}

.project-name {
  font-size: 16px;
}

::ng-deep .mat-mdc-menu-content {
  padding: 0 !important;
}
