.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 99%;
  &_filters {
    flex: 1;
  }
}

mat-form-field {
  width: 100%;
}

button {
  margin: 5px;
}

::ng-deep {
  .panel-bg.mat-mdc-select-panel {
    background: black;
    opacity: 0.85;
  }

  .mat-pseudo-checkbox-full {
    border-color: var(--primary-color) !important;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

::ng-deep

mat-option {
  color: var(--primary-color);
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
