<div class="container" [formGroup]="filtersForm">
  <div class="container_filters">
    <mat-checkbox formControlName="withoutStatus">Without Status</mat-checkbox>
    <mat-form-field class="dark-theme">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        @for (status of (issueStatuses$ | async)?.values(); track status) {
        <mat-option [value]="status">{{ status }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="withoutType">Without Type</mat-checkbox>
    <mat-form-field class="dark-theme">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        @for (type of (issueTypes$ | async)?.values(); track type) {
        <mat-option [value]="type">{{ type }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="withoutUser"
      >Without Responsible</mat-checkbox
    >
    <mat-form-field class="dark-theme">
      <mat-label>Responsible</mat-label>
      <mat-select
        formControlName="users"
        multiple
        panelClass="panel-bg"
        (opened)="refreshUsers()"
      >
        @for (user of (users$ | async); track user.id) {
        <mat-option [value]="user.identifier">{{ user.identifier }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field formGroupName="issueRange">
      <mat-label>Due Date</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date" />
        <input matEndDate formControlName="end" placeholder="End date" />
      </mat-date-range-input>
      <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      @if (filtersForm.get('issueRange.start')?.hasError('matStartDateInvalid'))
      {
      <mat-error>Invalid start date</mat-error>
      } @if (filtersForm.get('issueRange.end')?.hasError('matEndDateInvalid')) {
      <mat-error>Invalid end date</mat-error>
      }
    </mat-form-field>
  </div>
  <button
    mat-flat-button
    color="primary"
    (click)="acceptFilters()"
    [disabled]="filtersForm.invalid"
  >
    Accept
  </button>
  <button mat-flat-button color="warn" (click)="clearFilters()">Clear</button>
</div>
