<h1 mat-dialog-title>Choose options for grouping clashes</h1>
<div mat-dialog-content>
  <div>
    <label id="grouping-type-label">Choose the grouping type</label>
    <mat-radio-group
      color="primary"
      class="dark-theme"
      [(ngModel)]="selectedGroupingType"
    >
      @for (type of groupingTypes; track type) {
      <mat-radio-button class="dark-theme" [value]="type" color="primary">
        {{ type | groupingType }}
      </mat-radio-button>
      }
    </mat-radio-group>

    @switch (selectedGroupingType()) { @case (groupingTypes[0]) {
    <!-- Proximity -->
    <div class="container">
      <bcfier-clash-select
        [clashes]="clashes"
        (selectedIdsChange)="onSelectedIdsChange($event)"
      ></bcfier-clash-select>
      <mat-form-field class="dark-theme" appearance="fill">
        <mat-label>Radius</mat-label>
        <input
          matInput
          type="number"
          placeholder="Enter radius"
          pattern="[0-9]*"
          [(ngModel)]="proximityRadius"
        />
      </mat-form-field>
    </div>
    } @case (groupingTypes[1]) {
    <!-- Level -->
    <div class="container">
      <bcfier-clash-select
        [clashes]="clashes"
        (selectedIdsChange)="onSelectedIdsChange($event)"
      ></bcfier-clash-select>
      <mat-form-field class="dark-theme" appearance="fill">
        <mat-label>Tolerance </mat-label>
        <input
          matInput
          type="number"
          placeholder="Enter Tolerance"
          pattern="[0-9]*"
          [(ngModel)]="levelTolerance"
        />
      </mat-form-field>
    </div>
    } @case (groupingTypes[2]) {
    <!-- Selection -->
    <div class="container">
      <bcfier-element-select
        [elements]="viewpointElements"
        (selectedIdChange)="onElementSelected($event)"
      >
      </bcfier-element-select>
    </div>

    } @default {
    <p>Please select a grouping type.</p>
    } }
  </div>
</div>
<div mat-dialog-actions>
  <button
    mat-flat-button
    (click)="save()"
    [disabled]="
      !selectedGroupingType() ||
      (selectedGroupingType() !== groupingTypes[2] && !selectedElementId) ||
      (selectedGroupingType() !== groupingTypes[2] &&
        selectedClashIds.length === 0)
    "
  >
    Apply
  </button>
  <button mat-flat-button color="warn" (click)="close()">Cancel</button>
</div>
