<h1 mat-dialog-title>Choose Options for Clash Grouping</h1>
<div mat-dialog-content>
  <div>
    <label id="grouping-type-label">Choose the grouping type</label>
    <mat-radio-group
      color="primary"
      class="dark-theme"
      [(ngModel)]="selectedGroupingType"
    >
      @for (type of groupingTypes; track type) {
      <mat-radio-button class="dark-theme" [value]="type" color="primary">
        {{ type | groupingType }}
      </mat-radio-button>
      }
    </mat-radio-group>

    @switch (selectedGroupingType()) { @case (groupingTypes[0]) {
    <!-- Proximity -->
    <div class="container">
      <mat-form-field class="dark-theme" appearance="fill">
        <mat-label>Radius</mat-label>
        <input
          matInput
          type="number"
          placeholder="Enter radius"
          pattern="[0-9]*"
          [(ngModel)]="proximityRadius"
        />
      </mat-form-field>
      <p>Distance from this clashes center in model units</p>
    </div>
    } @case (groupingTypes[1]) {
    <!-- Level -->
    <div class="container">
      <mat-form-field class="dark-theme" appearance="fill">
        <mat-label>Tolerance </mat-label>
        <input
          matInput
          type="number"
          placeholder="Enter Tolerance"
          pattern="[0-9]*"
          [(ngModel)]="levelTolerance"
        />
      </mat-form-field>
      <p>Height difference from this clashes center in model units</p>
    </div>
    } @case (groupingTypes[2]) {
    <!-- Selection -->
    <div class="container">
      <p>Clashes that have the same elements</p>
    </div>

    } @default {
    <p>Please select a grouping type.</p>
    } }
  </div>
</div>
<div mat-dialog-actions>
  <button
    mat-flat-button
    (click)="save()"
    [disabled]="
      (selectedGroupingType() === groupingTypes[0] &&
        (proximityRadius == null || proximityRadius <= 0)) ||
      (selectedGroupingType() === groupingTypes[1] &&
        (levelTolerance == null || levelTolerance <= 0))
    "
  >
    Apply
  </button>
  <button mat-flat-button color="warn" (click)="close()">Cancel</button>
</div>
