<div class="wrapper">
  <mat-form-field class="top-field dark-theme">
    <mat-label>Title</mat-label>
    <input
      matInput
      [(ngModel)]="topic.title"
      (change)="changeIssue()"
      (keydown)="checkIsTitleChangeFirstTime(topic.title)"
    />
  </mat-form-field>

  <div class="info-select">
    <div>
      <span>{{ topic.creationDate | date : "dd.MM.yyyy HH:mm" }}</span>
    </div>

    <mat-form-field class="dark-theme">
      <mat-label>Status</mat-label>
      <mat-select
        [(value)]="topic.topicStatus"
        (selectionChange)="changeIssue()"
      >
        @for (status of (issueStatuses$ | async)?.values(); track status) {
        <mat-option [value]="status">{{ status }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="dark-theme">
      <mat-label>Type</mat-label>
      <mat-select [(value)]="topic.topicType" (selectionChange)="changeIssue()">
        @for (type of (issueTypes$ | async)?.values(); track type) {
        <mat-option [value]="type">{{ type }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="dark-theme">
      <mat-label>Responsible</mat-label>
      <mat-select
        [(value)]="topic.assignedTo"
        (selectionChange)="changeIssue()"
      >
        @for (user of (users$ | async)?.values(); track user.id) {
        <mat-option [value]="user.identifier">{{ user.identifier }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Due Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="topic.dueDate"
        (ngModelChange)="changeIssue()"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <mat-form-field class="top-field dark-theme">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="topic.description" (change)="changeIssue()" />
  </mat-form-field>

  <div>
    <h3>Viewpoints</h3>
    <button
      mat-raised-button
      color="primary"
      class="full-width-button"
      (click)="addViewpoint()"
    >
      Add Viewpoint
    </button>
    <div>
      <div *ngFor="let viewpoint of topic.viewpoints">
        <bcfier-comments-detail
          [comments]="topic.comments | commentsViewpointFilter : viewpoint.id"
          [viewpoint]="viewpoint"
          [topic]="topic"
        ></bcfier-comments-detail>
      </div>
    </div>
  </div>

  <div>
    <h3>Comments</h3>
    <div>
      <bcfier-comments-detail
        [comments]="topic.comments | commentsViewpointFilter"
        [topic]="topic"
      ></bcfier-comments-detail>
    </div>
  </div>
</div>
