.comment-field {
  width: 100%;
}

.image {
  &-wrapper {
    margin-top: 40px;
    display: flex;
  }

  &-elements {
    width: 0px;
    flex-grow: 0;
    margin-right: 10px;
    max-height: 300px;
    overflow-y: auto;

    &.list-elements {
      width: calc(50% - 10px);
    }
  }

  &-viewpoint {
    height: 300px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.viewpoint {
  max-width: 100%;
  max-height: 300px;
  cursor: pointer;
}

.comment-author {
  margin-right: 8px;
}

mat-card-content {
  padding-top: 12px;
}

.image-buttons {
  position: absolute;
  right: 0px;
  top: 0px;
}

mat-card {
  margin-bottom: 10px;
  padding: 10px;
}
